<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
</head>
<body>
    <div style="width: 50%; margin: auto;">
        <%- include('./components/header') %>
        <section>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis quas iusto aliquam nobis ipsa nihil sapiente nisi, explicabo perferendis eveniet inventore eaque modi! Ipsa quos ratione veniam iure, aliquid, perspiciatis, fugit iste odio consequuntur alias unde dolores sint? Vitae, libero?</p>
        </section>
    </div>
</body>
</html>