<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <div style="width: 50%; margin: auto;">
        <%- include('./components/header') %>
        <section>
            <form action="">
                <label for="title">Title</label><br>
                <input type="text" id="title" name="title"><br>
                <label for="description">Description</label><br>
                <textarea id="description" name="description" cols="20" rows="5"></textarea>
                <br>
                <input type="submit" value="Save">
            </form>
            <p>------------------------------------------------</p>
        </section>
        <section>
            <h2><%= name %>'s Marks</h2>

            <ul>
                <% for(let i=0; i<Marks.length; i++) { %>
                    <li><%= Marks[i].Subject + ' : ' + Marks[i].Mark %></li>
                <% } %>
            </ul>
        </section>
    </div>
</body>
</html>